/* НАВІГАЦІЯ */



/* ГЕРОЙ */

.header-svg-list {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}


/* ЛОГО */

/* переваги */





/* -------FILTERS------- */
/* -------LIST------- */
/* -------POSTERS------- */

/* Модальне вікно */

/* Форма */

/* розсилка */
