.filters button {
  color: var(--primary-text-color);
  background-color: $buttonBackgroundColor;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-width: 0;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accentColor;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
.filters {
  @include toLevel(flex, center, null);
  margin-bottom: 56px;
}
.filters-buttons {
  margin-right: 8px;
}

.btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  margin-top: 100px;
}
