.poster-title {
    font-size: 18px;
    line-height: 2;
    color: $primaryTextColor;
    letter-spacing: 0.06em;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      letter-spacing: 0;
      
    }
  }
  
  .list-item .poster-filter {
    font-size: 16px;
    line-height: 1.88;
    color: $secondaryTextColor;
    letter-spacing: 0.03em;
  }
  .main-section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   @media screen and (max-width: 767px) {
    flex-direction: column;
    
   }
  }
  .list-item {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
      
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
      
    }
   
  }
  