.poster-description {
  position: relative;
  overflow: hidden;
}

.posters-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  display: flex;
  flex-direction: column;
  height: 100%;
}

.poster-description-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 0 24px;
  @include toLevel(flex, center, center);
  

  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .posters-link:hover &,
  .posters-link:focus & {
    transform: translateY(0);
  }
}

.poster-info {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  flex-grow: 1;
}
.poster-title {
  margin-bottom: 4px;
}
