.logo {
  @extend %tocenter;
  }
  
  .logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923;
  
    letter-spacing: 0.03em;
    
  }
  .logo__web-text {
    color: $accentColor;
  }
  .logo__studio-text {
    color: #000000;
  }
  
  .footer__logo-studio {
    color: #ffffff;
  }
  .footer__logo-web{
    color: #2196f3;
  }