.logo-footer {
  @extend %tocenter;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  
  
}

.logo-header {
  @media screen and (min-width:1200px) {
    margin-right: 94px;
    
  }
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;

  letter-spacing: 0.03em;
}
.logo__web-text {
  color: $accentColor;
}
.logo__studio-text {
  color: #000000;
}

.footer__logo-studio {
  color: #ffffff;
}
.footer__logo-web {
  color: #2196f3;
}
