.mob-menu {
  @media screen and (min-width: 768px) {
    display: none;
    
  }
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: $primary-white-color;
  padding: 48px 40px;

  font-size: 20px;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  // display: none;
}
