.menu-container {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 100%;
  @media screen and(max-width: 767px) {
    position: fixed;
    padding: 48px 40px;
  }

  background-color: $primary-white-color;
  padding-top: 48px;
  padding-left: 48px;
  padding-bottom: 48px;

  font-size: 20px;

  // display: none;

  &.is-open {
    display: block;
  }
}
