.menu-button{
    display: inline-block;
    margin: 0;
    padding: 0;
    border:none;
   background-color: transparent;
   &.is-open .icon-menu{
    display: block;
    
   }
    & .icon-menu{
        display: none;
    }
    &.is-open .icon-close{
        display: none;
    }
    @media screen and(min-width: 768px) {
        display: none;
        
    }
    
    
    
}

