.navigation {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    
  }
}
.navigation-list__item .navigation-list__link,
.navigation-list__item .navigation-list__link,
.navigation-list__item .navigation-list__link {
  position: relative;
  color: $primaryTextColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list__link:hover,
.navigation-list__link:focus,
.navigation-list__link:hover,
.navigation-list__link:focus,
.navigation-list__link:hover,
.navigation-list__link:focus {
  color: $accentColor;
}
.navigation-list__link--underscore::after {
  content: "";

  height: 4px;
  display: block;
  width: 100%;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}
.navigation-list__link.navigation-list__link--underscore {
  color: $accentColor;
}
.navigation-list__link.navigation-list__link--underscore {
  color: $accentColor;
}
.navigation-list__link.navigation-list__link--underscore {
  color: $accentColor;
}
.navigation-list .navigation-list__item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list {
  display: flex;
}
