.to-tablet {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.footer-adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;

  color: #ffffff;
  margin-top: 20px;
}
.footer .container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  & {
    background: #2f303a;
  }
}
.footer-tel,
.footer-mail {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-location {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.footer-tel:hover,
.footer-tel:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: $accentColor;
}

.footer-adress-list {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.join-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.join-soc-list {
  display: flex;
  @media screen and (max-width: 1199px) {
    justify-content: center;
    align-items: center;
  }
}
.join-soc-list {
  gap: 10px;
}
.icon-join {
  fill: #ffffff;
}
.join-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  @include toLevel(flex, center, center);

  background-color: #ffffff10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
