.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
}

.header-flex {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.adress__icon-envelope {
  fill: $secondaryTextColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .adress__link:hover &,
  .adress__link:focus & {
    fill: $accentColor;
  }
}
