.newsletter-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
// .newsletter {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   margin-left: auto;
// }
.newsletter-input {
  @extend %tocenter;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  height: 50px;
  padding-left: 16px;
  width: 100%;
}
.newsletter-btn {
  margin-top: 30px;
  @extend %baseBntStyle;
  padding: 10px 28px 10px 28px;
  min-width: 200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.newsletter-btn-icon {
  fill: $primary-white-color;
  margin-left: 10px;
}
