
.newsletter-input-btn {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  
}
.newsletter-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  margin-top: 60px;
}
.newsletter {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}
.newsletter-input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  height: 50px;
  padding-left: 16px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 450px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    width: 358px;
    justify-content: center;
    align-items: center;
  }
}
.newsletter-btn {
  @extend %baseBntStyle;
  padding: 10px 28px 10px 28px;
  min-width: 200px;
  @media screen and (max-width: 1199px) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  @media screen and (max-width: 1199) {
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
.newsletter-btn-icon {
  fill: $primary-white-color;
  margin-left: 10px;
}
