.about {
  display: none;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

}
.about__photo {
  position: relative;
}
.about__description {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
}
.about.section {
  padding-top: 0;
}
.about__list {
  display: flex;
}
