.order-btn {
  @extend %baseBntStyle;

  
  display: inline-block;
  min-width: 216px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Portfolio/bgimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 210px;
}
.hero__title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.06em;
}
.hero-div {
  text-align: center;
}
