.order-btn {
  @extend %baseBntStyle;

  display: inline-block;
  min-width: 200px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
    min-width: 216px;
  }

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.hero {
  max-width: 1600px;
  
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Portfolio/hero-bg-image-mob.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/Portfolio/hero-bg-image-mob-x2.jpg);
    }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 210px;
  @media screen and (max-width: 767px) {
    // padding: 118px;
    
  }
  @media screen and(min-width: 768px) {
    padding: 118px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Portfolio/hero-bg-image-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/Portfolio/hero-bg-image-tab-x2.jpg);
    }
  }
  @media screen and(min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/Portfolio/hero-bg-image-desk.jpg);

      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/Portfolio/hero-bg-image-desk-x2.jpg);
    }
  }
}
.hero__title {
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 0.06em;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-div {
  text-align: center;
}
