.our-team-section__title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.our-team-section {
  background-color: #f5f4fa;
}
.member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;

  letter-spacing: 0.03em;
  & {
    text-align: center;
    margin-bottom: 10px;
  }
}

.member__about {
  font-size: 16px;
  line-height: 1.1875;
  color: $secondaryTextColor;
  letter-spacing: 0.03em;
  & {
    text-align: center;
    margin-bottom: 16px;
  }
}

.our-team-section__item {
  // width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(last-child){
    margin-bottom: 30px;
  }
  margin-top: 30px;
}
.members__social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.members-social__links {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  @include toLevel(flex, center, center);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.members-social__icon {
  fill: #afb1b8;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
  .members-social__links:hover &,
  .members-social__links:focus & {
    fill: #ffffff;
  }
}

.member {
  // flex-basis: calc((100% - 90px) / 4);
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  & {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.our-team-section__list {
  // @include toLevel(flex, center, null);
  // flex-basis: calc((100% - 90px) / 4);
  gap: 30px;
}
