%baseBntStyle{
    color: $primary-white-color;
    background-color: #2196f3;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    font-family: inherit;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-width: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
%tocenter{
    display: flex;
    justify-content: center;
    align-items: center;
}