$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$primary-white-color: #ffffff;
$accentColor: #2196f3;
$buttonBackgroundColor: #f5f4fa;
$secondaryFontFamily: "Raleway", sans-serif;
// :root {
//     --primary-text-color: #212121;
//     --secondary-text-color: #757575;
//     --primary-white-color: #ffffff;
//     --accent-color: #2196f3;
//     --button-backround-color: #f5f4fa;
//     --secondary-font-family: "Raleway", sans-serif;
//   }

