
  
  .mobile-navigation-list__item .mobile-navigation-list__link {
    position: relative;
    color: $primaryTextColor;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    display: block;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mobile-navigation-list__item:not(:last-child){
    margin-bottom: 36px;
  }
  
  
  .mobile-navigation-list__link:hover,
  .mobile-navigation-list__link:focus {
    color: $accentColor;
  }
  
//   .mobile-navigation-list {
    
//   }