.mobile-phone__link {
  color: #2196f3;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-top: 350px;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
.mobile-mail__link{
  font-weight: 500;
  font-size: 24px;
  color: $secondaryTextColor;
  margin-top: 32px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  &:hover,
  &:focus {
    color: $accentColor;
  }
}
